@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: min(1248px, 100%);
  padding-inline: 16px;
  margin-inline: auto;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

header,
section {
  margin-bottom: 120px;
}

.dots {
  display: flex;
  padding-block: 10px;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin-inline: 5px;
  padding: 5px;
  background: #ecf2ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #123359;
}
